# Cache files.
/*.egg-info/
**/__pycache__/
/.mypy_cache/

# Machine-specific stuff.
/.pdm.toml
/.venv/

# Large/binary files.
/data/*
!/data/.keep

# Testing files.
/blankcheck.py
/*.jsonl
/test_config.yml
